<!-- 
  Copyright Contributors to the Amundsen project.
  SPDX-License-Identifier: Apache-2.0
-->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Amundsen - Data Discovery Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if env == "development" %}
      {% include 'fragments/icons-dev.html' %}
    {% elif env == "staging" %}
      {% include 'fragments/icons-staging.html' %}
    {% else %}
      {% include 'fragments/icons-prod.html' %}
    {% endif %}

    {% if <%= htmlWebpackPlugin.options.config.google.enabled%> %}
      {% include 'fragments/google-analytics-loader.html' %}
    {% endif %}

    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body class="{{ env }}">
    <div class="inbot-logo">
      <img 
        src="{{ url_for('static', filename='images/inbot-transparent-white.svg') }}"
        height="20px"
        alt="Inbot">
      </img>
    </div>
    <div class="login-container-div">
        <h1 class="frontpage-header">Welcome to <span class="inbot-brain">Inbot Brain</span>,<br> an intelligent graph for data-centric organizations.</h1>
        
        <div>
          <img 
            class="frontpage-img" 
            src="{{ url_for('static', filename='images/frontpage-rafiki.svg') }}"
            alt="mental-healts-brain">
          </img>
        </div>

        <div class="button-container-div">
            <a href="/mslogin">
                <img src="{{ url_for('static', filename='images/ms-login-white.svg') }}" alt="Sign in with Microsoft"></img>
            </a>
        </div>
        
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>

  {% if <%= htmlWebpackPlugin.options.config.google.enabled%> %}
    {% include 'fragments/google-analytics-post-loader.html' %}
  {% endif %}
</html>
