// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.list-group {
  margin: 24px 0;

  .list-group-item {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 20px;
    color: #030030;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(189, 110, 202, 0.2);
    transition: margin 0.5s, box-shadow 0.5s;
    border:none;

    &.clickable:hover {
      cursor: pointer;
      z-index: 1;
      text-decoration: none;
      margin-top: 12px;
      margin-bottom: 4px;
      box-shadow: 0px 8px 8px 0px rgba(189, 110, 202, 0.6);
    }
  }
}
