// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

.login-container-div {
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-25%, -25%);
    width: 100%;
    margin-top: 220px;
}
.login-header {
    text-align: center;
    margin: 30px;
  }
  
.inbot-brain {
color:#e73158;

}
.login-img {
    margin-right: 30px;
    display: block;
    margin-left: 50%;
    margin-right: 40%;
}
.inbot-logo-login {
    height: 80px;
    padding-left: 32px;
    padding-top: 20px;
}

.login-button-container-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 320px;

    a {
        position: absolute;
    }

}

.img-div-front-fullscreen {
    display: block;
  }
  
.img-div-front-mobile {
    display: none;
}

@media (max-width: $screen-sm-max) {
    .img-div-front-fullscreen {
      display: none;
    }
    
    .img-div-front-mobile {
      display: block;
    }
  
    .login-img {
      display: block;
      width: 320px;
      margin-left: auto;
      margin-right:auto;
      float: none;
    }
  }