// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

.login-container-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
