// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.list-group-box-item .resource-list-item {

  .resource-name {
    span:hover {
      text-decoration: underline;
      color: $indigo80;
    }
  }
}
