// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.nav-bar {
  align-items: center;
  /*background: $inbot-black */
  background: #f6f3f9;
  display: flex;
  flex-direction: row;
  height: $nav-bar-height;

  .nav-bar-left {
    background: #f6f3f9;
    flex-basis: 240px;
    padding: 30px;
    padding-left: 32px;
    padding-right: 95px;

    span.title-3 {
      color: $white;
      line-height: $navbar-item-line-height;
    }
  }
  .logo-icon {
    margin-right: $spacer-2;
    max-height: 32px;
    max-width: 144px;
  }
}
